<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Invoice</th>
            <th>Date</th>
            <th>Title</th>
            <th>Name Member</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% 
          let i = 1;
          booking.map(e => { %>
          <tr>
            <td><%= i++ %></td>
            <td>#<%= e.invoice %></td>
            <td><%= e.bookingStartDate.toLocaleString().split(',')[0] %> s/d
              <%= e.bookingEndDate.toLocaleString().split(',')[0] %>
            </td>
            <td><%= e.itemId.title %></td>
            <td><%= e.memberId.firstName %> <%= e.memberId.lastName %></td>
            <td><%= e.payments.status %></td>
            <td>
              <a href="/admin/booking/<%= e.id %>" class="btn btn-success btn-circle btn-sm button-update"><i
                  class=" fas fa-eye"></i></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>